body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
